body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages, .query {
    display: flex;
    flex-direction: column;
}
#messages {
    padding: 50px;
    overflow-y: auto;
    flex-grow: 1;
}
.message {
    padding: 0.5rem;
    background: lightgray;
    width: max-content;
    max-width: 80%;
    padding: 7px 20px 20px;
    border-radius: 10px;
    margin: 10px;
}

.question{
    margin-left: auto;
    background: #1046a2;
    color: white;
}

.info {
    display: flex;
}
.info > .time {
    text-align: right;
    flex: 1;
    font-size: 10px;
    opacity: 0.6
}
.info > input {
    display: none;
}
.info > label {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #eee;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.sources {
    display: none;
}
.answer:has(#showSources:checked) > .sources {
    display: block;
}
/* .answer has #sources that is empty */
.answer:has(#sources:empty) > .info > label {
    display: none;
}