body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

p {
    margin: 0;
}

#form {
    padding: 30px 10px 10px;
    position: fixed; /* q: will this work? a: yes */
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 5rem;
    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.15);
    -webkit-mask: -webkit-gradient(linear,
            left 45%,
            left 0%,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0)));
    backdrop-filter: blur(10px);
    /* click through */
    pointer-events: none;
}
#form>* {
    pointer-events: auto;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 50px 10px 10px 50px;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 10px 50px 50px 10px;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

#messages,
.query {
    display: flex;
    flex-direction: column;
}

#messages {
    padding: 50px;
    overflow-y: auto;
    flex-grow: 1;
}

.message {
    padding: 20px;
    background: lightgray;
    width: max-content;
    max-width: 80%;
    border-radius: 10px;
    margin: 10px;
}
.message > p {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #messages {
        padding: 10px;
    }
    .message {
        margin: 5px;
    }
}

.question {
    margin-left: auto;
    background: #1046a2;
    color: white;
}

.info {
    display: flex;
    gap: 1rem;
    /* center horizontally */
    align-items:flex-end;
}

.info>.time {
    text-align: right;
    flex: 1;
    font-size: 10px;
    opacity: 0.6
}

.info>#toggleSources {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #eee;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.sources {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: grid-template-columns 0.5s ease-in-out, 
                grid-template-rows 0.5s ease-in-out;
}
.sources > div {
    overflow: hidden;
    transition: scale 0.5s ease-in-out;
}
.sources.hidden {
    grid-template-columns: 0fr;
    grid-template-rows: 0fr;
}
.sources.hidden > div {
    scale: 0;
}

/* .answer has #sources that is empty */
.answer:has(#sources:empty)>.info>#toggleSources {
    display: none;
}